

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blood Bank Monitoring</title>
    
    <link rel="stylesheet" href="static/indexnew.css">
    <link rel="stylesheet" href="static/New.css" >
    <script src="static/New.js"></script>
    <style>
      .overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
          justify-content: center;
          align-items: center;
      }

      /* Style for the pop-up box */
      .popup {
          background-color: white;
          padding: 20px;
          border-radius: 5px;
          text-align: center;
      }

      /* Style for the OK button */
      .btn-ok {
          padding: 10px 20px;
          background-color: #4CAF50; /* Green color, adjust as needed */
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
  </style>
    
  </head>
  <body>
    <div class="overlay" id="popupOverlay">
      <!-- Popup box -->
      <div class="popup">
          <!-- Display your flashed messages here -->
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <ul class="message" style="color:red;">
                      {% for message in messages %}
                          <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
          <!-- OK button to close the popup and return to the same page -->
          <button class="btn-ok" onclick="closePopup()">OK</button>
      </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark navbar-full" >
  <a class="navbar-brand" href="/" style="font-family:Arial, Helvetica, sans-serif;">Blood Bank Monitoring</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      
   <a class="nav-link" href="/layout">Donate Now</a>
        <a class="nav-link" href="/contact">Contact us</a>
      
 

    
    
    <a class="nav-link" href="/logout">Logout</a>
  </ul>

  </div>

  
</nav>
  <div class="container1">
    <div class="jumbotron1 " src="static/logo-white.png">
      <h1 class="h1title">Welcome to Blood-Bank Monitoring System</h1>
                         
                        <p>Most people are able to give blood, but only 4% actually do.
                          <br><br> You can donate blood if you:<br>
                       are fit and healthy
                       weigh at least 50kg (7st 12lb)
                         are 17-66 years old (or 70 if you've given blood before)
                         are over 70 and have given blood in the last two years
                         </p>

                <div class="wrap">

                  <div class="" style="padding-left: 15px; padding-top: 15px;">
                  <img class="raththam" src="static/donate-image.jpg" alt="Donate blood" >
                  </div><br>     
                          <div class="card">
                              <div class="card-header text-center">A+</div>
                                  <div class="card-body">
                                         <ul>
                                           <li>You can give blood to A+ and AB+.</li> 
                                            <li>You can receive blood from A+, A-, O+ and O-</li>
                                         </ul>
                                   </div>
                          </div>
                      
                      
                          <div class="card">
                              <div class="card-header text-center">A-</div>
                              <div class="card-body">
                    <ul>
                                  <li>You can give blood to A-, A+, AB- and AB+.</li> 
                      <li>You can receive blood from A- and O-.</li>
                    </ul>
                              </div>
                          </div>
                      

                          <div class="card">
                              <div class="card-header text-center">B+</div>
                              <div class="card-body">
                      <ul>
                        <li>You can give blood to B+ and AB+.</li> 
                        <li>You can receive blood from B+, B-, O+ and O-.</li>
                       </ul>
                              </div>
                          </div>
                    
                    
                          <div class="card">
                              <div class="card-header text-center">B-</div>
                              <div class="card-body">
                      <ul>
                        <li>You can give blood to B-, B+, AB+ and AB-.</li>
                        <li>You can receive blood from B- and O-.</li>
                      </ul>
                    </div>
                  </div>
                      
                          <div class="card">
                              <div class="card-header text-center">AB+</div>
                              <div class="card-body">
                    <ul>
                                   <li>People with AB+ can donate only to AB+ blood type.</li> 
                       <li>AB+ are <b>universal red cell recipients</b> because they can receive red cells from all types.</li>
                    </ul>
                              </div>
                          </div>
                      
                 
                          <div class="card">
                              <div class="card-header text-center">AB-</div>
                              <div class="card-body">
                      <ul>
                        <li>You can give blood to both AB- and AB+ blood types.</li>
                        <li>Donors with AB+ and AB- blood are <b>universal plasma donors</b>. They can donate blood to all negative blood types.</li>
                      </ul>
                              </div>
                          </div>
                    
                      
                          <div class="card">
                              <div class="card-header text-center">O+</div>
                              <div class="card-body">
                    <ul>
                                  <li>You can donate to A+, B+, AB+ and O+ Blood types.</li>
                                  <li>You can receive blood from O+ and O-.</li>
                    </ul>
                              </div>
                          </div>
                    
                    
                          <div class="card">
                              <div class="card-header text-center">O-</div>
                              <div class="card-body">
                    <ul>
                                  <li>Donors with type O- blood are <b>universal red cell donors</b> whose donations can be given to people of all blood types</li>
                                  <li>People with O- blood can only receive red cell donations from O- donors.</li>
                    </ul>
                              </div>
                          </div>

                          

                      </div>
                         
                </div>
              </div>
                  </div>
          
                  <div class="row">
                      <div class="col-lg-6 rounded mb-5">
          
                      </div>
                      <div class="col-lg-6 rounded mb-5">
                           </div>
                  </div>

                </div>
                
                  <div class="card-header2">Health Tips</div>
                  
                  <div class="wrap2">
                      <div class="col-lg-12">
                     <br><br>
                          
                            <div class="card-header2" >Eat a healthy diet</div>
                                 <div class="card-body2">
                                    <ul>
                              
                                      <li>Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</li>
                                    </ul>
                                 </div>
                           </div>
                           <div class="card-header2" > Consume less salt and sugar</div>
                            <div class="card-body2">
                              <ul>
                              
                              <li>On the other hand, consuming excessive amounts of sugars increases the risk of tooth decay and unhealthy weight gain. In both adults and children, the intake of free sugars should be reduced to less than 10% of total energy intake. This is equivalent to 50g or about 12 teaspoons for an adult. WHO recommends consuming less than 5% of total energy intake for additional health benefits. You can reduce your sugar intake by limiting the consumption of sugary snacks, candies and sugar-sweetened beverages.</li>
                              </ul>  
                            </div>
                            <div class="card-header2" >Be active</div>
                            <div class="card-body2">
                              <ul>
                              
                              <li>Physical activity is defined as any bodily movement produced by skeletal muscles that requires energy expenditure. This includes exercise and activities undertaken while working, playing, carrying out household chores, travelling, and engaging in recreational pursuits. The amount of physical activity you need depends on your age group but adults aged 18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the week. Increase moderate-intensity physical activity to 300 minutes per week for additional health benefits.</li>
                              </ul>
                            </div>
                            <div class="card-header2" >Don’t smoke</div>
                            <div class="card-body2">
                              <ul>
                              <li>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not only the direct smokers but even non-smokers through second-hand exposure. Currently, there are around 15.9 million Filipino adults who smoke tobacco but 7 in 10 smokers are interested or plan to quit.
                              If you are currently a smoker, it’s not too late to quit. Once you do, you will experience immediate and long-term health benefits. If you are not a smoker, that’s great! Do not start smoking and fight for your right to breathe tobacco-smoke-free air.</li>
                            </ul>
                            </div>
                            <div class="card-header2" >Drink only safe water</div>
                            <div class="card-body2">
                              <ul>
                                <li>Drinking unsafe water can lead to water-borne diseases such as cholera, diarrhoea, hepatitis A, typhoid and polio. Globally, at least 2 billion people use a drinking water source contaminated with faeces. Check with your water concessionaire and water refilling station to ensure that the water you’re drinking is safe. In a setting where you are unsure of your water source, boil your water for at least one minute. This will destroy harmful organisms in the water. Let it cool naturally before drinking.</li>
                               </ul>
                            </div>
                            <div class="card-header2" >Clean your hands properly</div>
                            <div class="card-body2">
                            
                              <ul>
                                <li>
                                  Hand hygiene is critical not only for health workers but for everyone. Clean hands can prevent the spread of infectious illnesses. You should handwash using soap and water when your hands are visibly soiled or handrub using an alcohol-based product.
                                </li>
                              </ul>
                            </div>
                            <div class="card-header2" >Have regular check-ups</div>
                            <div class="card-body2">
                              <ul>
                                <li>
                                  Regular check-ups can help find health problems before they start. Health professionals can help find and diagnose health issues early, when your chances for treatment and cure are better. Go to your nearest health facility to check out the the health services, screenings and treatment that are accessible to you. 
                              </li>
                            </ul>

                              Visit here to get more health tips.
                              <a href="" target="_blank">Healthy & Happy Living Tips</a>
                          </div>
                      </div>

  
        </div>

  </div>
</div>
</div>
   <!-- Footer -->
<footer class="py-4 ">
  <!-- Footer Links -->
  <div class="container-fluid ">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Developed by</h5>
        <small>M.MANO & S.SUBASH & J.NITHISH KUMAR </small>
        <br>
        <small>Register No: 22800072 & 22800078 & 22800096
        </small>
        <br>
        <small>Department of Computer Application( MCA )</small>
     
          
            <a href="/">Home</a>
         
            <a href="/">Search</a>
          
            <a href="#!">About</a>

            <a href="/contact">Contact Us</a>
          
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2024 Copyright:
    <a href="#"> CS038-CS022</a>
  </div>
  <!-- Copyright -->

</footer>

<script>
  function showPopup() {
      document.getElementById('popupOverlay').style.display = 'flex';
  }

  function closePopup() {
      document.getElementById('popupOverlay').style.display = 'none';
     
  }

 
  window.onload = showPopup;
</script>

  </body>
</html>