<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blood Bank Monitoring</title>
    
      <link rel="stylesheet" href="static/indexnew.css">
    
    <link rel="stylesheet" href="static/New.css">
    <style>
      body {
        background-color:red ;
      }
      .sentance{
        padding-left: 50%;
      }
      .navbar-nav{
        padding-left: 30%;
      }
      .jumbotron{
        
          
          backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
        
      }
    </style>
  </head>
  <body  background-image:;>
    <nav class="navbar">
      <img class="logo" src="static/logo-color.png" >
      
      <div class="navbar-nav">
        
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/contact">Contact us</a>
        <a class="nav-link" href="/">Notification</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
      </div>
     
    </nav>
  <div class="container">
    
    
      <div class="jumbotron text-centre">
      <br><br>
     <h1 style="color:bule;">Welcome to Blood-Bank Monitoring System<br>
    
  </h1>
  </div><br><br>
</div>
<div class="sentance">
  <a href="/layout"><button class="btn-don">Donate Now</button></a>
  
</div>


<div class="wrap">

<div class="" style="padding-left: 15px; padding-top: 15px;">
<img class="raththam" src="static/donate-image.jpg" alt="Donate blood" >
</div><br>     
  <div class="card">
      <div class="card-header text-center">A+</div>
          <div class="card-body">
                 <ul>
                   <li>You can give blood to A+ and AB+.</li> 
                    <li>You can receive blood from A+, A-, O+ and O-</li>
                 </ul>
           </div>
  </div>


  <div class="card">
      <div class="card-header text-center">A-</div>
      <div class="card-body">
<ul>
          <li>You can give blood to A-, A+, AB- and AB+.</li> 
<li>You can receive blood from A- and O-.</li>
</ul>
      </div>
  </div>


  <div class="card">
      <div class="card-header text-center">B+</div>
      <div class="card-body">
<ul>
<li>You can give blood to B+ and AB+.</li> 
<li>You can receive blood from B+, B-, O+ and O-.</li>
</ul>
      </div>
  </div>


  <div class="card">
      <div class="card-header text-center">B-</div>
      <div class="card-body">
<ul>
<li>You can give blood to B-, B+, AB+ and AB-.</li>
<li>You can receive blood from B- and O-.</li>
</ul>
</div>
</div>

  <div class="card">
      <div class="card-header text-center">AB+</div>
      <div class="card-body">
<ul>
           <li>People with AB+ can donate only to AB+ blood type.</li> 
<li>AB+ are <b>universal red cell recipients</b> because they can receive red cells from all types.</li>
</ul>
      </div>
  </div>


  <div class="card">
      <div class="card-header text-center">AB-</div>
      <div class="card-body">
<ul>
<li>You can give blood to both AB- and AB+ blood types.</li>
<li>Donors with AB+ and AB- blood are <b>universal plasma donors</b>. They can donate blood to all negative blood types.</li>
</ul>
      </div>
  </div>


  <div class="card">
      <div class="card-header text-center">O+</div>
      <div class="card-body">
<ul>
          <li>You can donate to A+, B+, AB+ and O+ Blood types.</li>
          <li>You can receive blood from O+ and O-.</li>
</ul>
      </div>
  </div>


  <div class="card">
      <div class="card-header text-center">O-</div>
      <div class="card-body">
<ul>
          <li>Donors with type O- blood are <b>universal red cell donors</b> whose donations can be given to people of all blood types</li>
          <li>People with O- blood can only receive red cell donations from O- donors.</li>
</ul>
      </div>
  </div>

  

</div>
 
</div>
</div>
</div>

<div class="row">
<div class="col-lg-6 rounded mb-5">

</div>
<div class="col-lg-6 rounded mb-5">
   </div>
</div>

</div>


  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  
<footer class="py-4 text-red-50">
  <!-- Footer Links -->
  <div class="">
    <!-- Grid row -->
    
      <!-- Grid column -->
      <div class="Developed">
        <!-- Content -->
        <img src="static/logo-no-background.png" >
        <div class="text">
        <h5 class="text-uppercase">Developed by</h5>
        <small>M.MANO & S.SUBASH & J.NITHISH KUMAR</small>
        <br>
        <small>Register No: 22800072 & 22800078 & 22800096</small>
        <br>
        <small>Department of Computer Application( MCA )</small>
         <div> © 2024 Copyright:
    <a href="#"> MCA</a></div>
        </div>
      </div>
      <!-- Grid column -->
      
      
    
   
  
    </div>
  <!-- Copyright -->

</footer>

  </body>
</html>